<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxy.dao.DangDangCategory2Dao">
  <resultMap id="BaseResultMap" type="com.gxy.entity.DangDangCategory2">
    <result column="DD_CATEGORY2_ID" jdbcType="INTEGER" property="ddCategory2Id" />
    <result column="DD_CATEGORY2_NAME" jdbcType="VARCHAR" property="ddCategory2Name" />
    <result column="DD_CATEGORY1_ID" jdbcType="INTEGER" property="ddCategory1Id" />
    <result column="DD_CATEGORY2_CREATE_DATE" jdbcType="TIMESTAMP" property="ddCategory2CreateDate" />
  </resultMap>
  <!-- <insert id="insert" parameterType="com.gxy.entity.DangDangCategory2">
    insert INTEGERo DANGDANG_CATEGORY2 (DD_CATEGORY2_ID, DD_CATEGORY2_NAME, DD_CATEGORY1_ID, 
      DD_CATEGORY2_CREATE_DATE)
    values (#{ddCategory2Id,jdbcType=INTEGER}, #{ddCategory2Name,jdbcType=VARCHAR}, #{ddCategory1Id,jdbcType=INTEGER}, 
      #{ddCategory2CreateDate,jdbcType=TIMESTAMP})
  </insert> -->
  <select id="selectAll" resultMap="BaseResultMap">
      select DD_CATEGORY2_ID, DD_CATEGORY2_NAME, DD_CATEGORY1_ID, DD_CATEGORY2_CREATE_DATE
    	from DANGDANG_CATEGORY2
  </select>
   <!-- 统计各类图书的数量 -->
  <select id="selectCategory2" resultType="java.util.Map">
  	select t2.dd_category2_id as "ddCategory2Id",count(*) as "ddCategory2Count" from dangdang_product t1 left join dangdang_category2 t2 
         on t1.dd_category2_id = t2.dd_category2_id
           group by t2.dd_category2_id
  </select> 
</mapper>